# =========================
# Java / Maven / Gradle
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# IDE files
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment / secrets
# =========================
.env
.env.*
application-prod.properties

# =========================
# Spring Boot
# =========================
spring.log

# =========================
# Test / coverage
# =========================
coverage/
